# Configuración de Base de Datos (Docker)
DB_USER=postgres
DB_PASSWORD=your_secure_password_here
DB_NAME=profly_db

# Al usar Docker Compose, el host de la DB es el nombre del servicio: 'db'
DATABASE_URL=postgresql://postgres:your_secure_password_here@db:5432/profly_db?schema=public

# Configuración de API
PORT=3000

# Configuración de WEB
# En el VPS, esta URL debe ser la IP pública o el dominio de tu servidor
NEXT_PUBLIC_API_URL=http://tu-ip-o-dominio:3000
